<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.qrist.quicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".utils.MyApplication"
            android:hardwareAccelerated="true"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:resizeableActivity="false"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="barcode"/>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".OnSendActivity"
                android:label="@string/register_iamge"
                android:taskAffinity=""
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:finishOnTaskLaunch="true"
                android:excludeFromRecents="true"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".qrlist.CaptureActivityPortrait"
                android:screenOrientation="portrait"
                android:stateNotNeeded="true"
                android:theme="@style/zxing_CaptureTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                  android:theme="@style/Base.Theme.AppCompat"/>
        <activity
                android:theme="@style/OssLicenseTheme"
                android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"/>
        <activity
                android:theme="@style/OssLicenseTheme"
                android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"/>
    </application>

</manifest>
